@page
@model asp.net_core_store.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Order.Status == true)
            {
                <span>To be shipped</span>
            }
            else
            {
                <span>Payment completed</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
